.home-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding: 60px 0;
    margin: 0 25px;
}
.home-container h1{
    font-size: 40pt;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.home-container p{
    font-size: 14pt;
    color: rgba(230, 230, 230, 0.829);
}
.home-container img{
    width: 400px;
}
.h-c-text{
    background-color: #252525;
    padding: 15px;
    max-width: 600px;
    border-radius: 5px;
}
@media (max-width: 1220px) {
    .home-container{
        gap: 60px;
    }
}
@media (max-width: 825px) {
    .home-container{
        flex-direction: column;
        margin-bottom: 200px;
    }
}