nav{
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 0 10px;
    background-color: #252525;
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.418);
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
}
nav a:hover{
    color: black;
}