nav{
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 0 10px;
    background-color: #252525;
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.418);
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
}
nav a:hover{
    color: white;
}
.nav2{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: black;
    padding: 10px 0;
}
.nav2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    font-size: 22px;
    margin: 5px 0;
}
.icon-comp{
    position: absolute;
    top: 10px;
    left: 15px;
    display: none;
}
@media (max-width: 600px){
    nav{
        display: none;
    }
    .icon-comp{
        display: block;
    }
}