.app-container{
    width: 100%;
    height: 100%;
}
.a-c-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
.a-c-home{
    width: 100%;
    height: 670px;
}
.a-c-about-me{
    display: flex;
    justify-content: center;
    width: 100%;
}
.a-c-contacts{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    color: rgba(209, 209, 209, 0.918);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}